.header-parent-container{
    box-shadow: rgba(238, 19, 88, 0.1) 0px 10px 10px -10px;
    display: flex;
    background-color: rgb(125, 202, 11);
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    color: white;
    padding: 20px;

    a{
        color: white;
        text-decoration: none;
        font-size: xx-large;
        font-style: normal;
    }
    a:hover{
        background-color: rgb(92, 242, 235);
        border-radius: 40px;
        
        
        align-items: center;
    }

    .left{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .logout-btn{
        border-radius: 16px;
        padding: 8px;
    }
    .logout-btn:hover{
        background-color: black;
        color: white;
    }
}